/* Navbar container styles */
.navbar {
  background-color: #fff; /* White background color */
}

/* Navbar brand styles */
.navbar .navbar-brand {
  background-image: url('../assets/FWT.png'); /* Set the background image */
  background-size: cover; /* Adjust the size of the background image */
  background-repeat: no-repeat; /* Prevent the background image from repeating */
  background-position: center; /* Center the background image */
  width: 120px; /* Set width to fit the image */
  height: 60px; /* Set height to fit the image */
  display: flex; /* Enable flexbox for centering */
  justify-content: center; /* Center horizontally */
}

/* Navbar toggler styles */
.navbar-toggler {
  border-color: transparent; /* Set border color to transparent */
  background-color: transparent; /* Set background color to transparent */
  transition: all 0.3s ease; /* Add transition for all properties */
}

.navbar-toggler:hover {
  border-color: sandybrown; /* Change border color on hover */
}

.navbar-toggler-icon {
  background-color: sandybrown /* Saffron color for toggler icon */
}

/* Navbar links styles */
.navbar-light .navbar-nav .nav-link {
  color: grey; /* Saffron text color for links */
  transition: color 0.3s ease; /* Smooth color transition */
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:active {
  color: sandybrown; /* Change color on hover, focus, and active */
  text-decoration: underline; /* Underline on hover, focus, and active */
}

.navbar-light .navbar-nav .nav-link:focus {
  color: sandybrown;
  text-decoration: underline;
}

/* Active link styles */
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: #000; /* Color for active link */
  text-decoration: underline; /* Underline for active link */
}

/* Navbar animation */
@keyframes slideInDown {
  0% {
      transform: translateY(-100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}

.navbar-nav {
  animation: slideInDown 1s ease forwards; 
}
