/* General styles */
.services {
  position: relative;
  background-image: linear-gradient(to bottom right, #A9A9A9, #45aaf2);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.header {
  text-align: center; /* Adjusted for responsiveness */
}

.header h2 {
  font-size: 2rem;
  margin: 10px 0 20px;
  color: #06053f;
}

/* Service styles */
.service {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: fadeInUp 1s ease forwards;
}

.service:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-icon {
  font-size: 2rem;
  margin-right: 20px;
}

.service-info {
  flex: 1;
}

/* Animation for tech section */
.tech-container {
  display: flex;
  justify-content: center;
}

.web-tech {
  max-width: 70%; /* Adjusted for responsiveness */
  margin-top: 40px; /* Added margin for separation */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideInLeft 4s ease forwards;
  margin-left: 185px;
  }

.web-tech-list {
  list-style: none;
  padding: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.tech:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-icon {
  font-size: 2rem;
  margin-right: 20px;
}

.tech-info {
  flex: 1;
  color: #06053f;
}

.header1 {
  text-align: center; /* Adjusted for responsiveness */
}

.header1 h2 {
  font-size: 2rem;
  margin: 10px 0 20px;
  color: #06053f;
}

/* Keyframe animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.Tamplete{
  width: 80%;
  height: 300px;
  background-color:#fff;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
    border-radius: 50px;
    box-shadow: 5px 2px 4px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 3s ease forwards;
    margin-left: 120px;
}

.JoinHand{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
}

.Hand-join{
  margin-top: 100px;
  color: burlywood;
  font-weight: 500;
  font-size: larger;
}

.ImageHand{
  margin-left: 20px;
}



@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-tech {
  max-width: 70%; /* Adjusted for responsiveness */
  margin-top: 40px; /* Added margin for separation */
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideInRight 4s ease forwards; /* Changed animation to slideInRight */
  margin-left: 185px; /* Changed margin-right instead of margin-left */
}

